[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[color]
  ui = auto
[user]
	name = Bartlomiej Niemtur
	email = nbartlomiej@gmail.com
